body {
    background-color: #3DE7E7;
    text-align: center;
}

header {
    color: #C638D2; 
    font-size:30px;
    text-align: center;
    border: dotted;
    border-color: #FBFF32;
}

p {
    color: #2589E1;
    font-size: 25px;
}

div {
    color: #C638D2;
    font-size: 25px;
    margin: 10px;
}

input {
    background-color: #C638D2;
    font-size: 20px;
}

button {
    background-color: #FBFF32;
    font-size: 20px;
}

#results {
    font-size: 50px;
    color: #FBFF32;
}




